#tech-stack {
    margin-bottom: 2rem;
}

#tech-stack .tech-stack-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

#tech-stack .tech {
    background-color: var(--project-bg);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px var(--paper-shadow);
    transition: transform 0.3s, box-shadow 0.3s;
}

#tech-stack .tech:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px var(--paper-shadow);
}

#tech-stack .tech h3 {
    font-size: 1.1rem;
    color: var(--accent-color);
    margin-bottom: 0.5rem;
}

#tech-stack .tech p {
    color: var(--project-text);
    font-size: 0.9rem;
}
